body{
    background-color:black;
    text-align: center;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('flavorback.avif');

}

header{
    text-align: center;
    color: azure;
    background-color: brown;
}
